@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Если у вас есть аккаунт, то войдите в систему через меню <b><a asp-area="" asp-controller="Account" asp-action="Login">Авторизации</a></b>.</p>
    <p>Если у вас нет аккаунта, то вы можете создать его с помощью меню <b><a asp-area="" asp-controller="Account" asp-action="Register">Регистрации</a></b>.</p>

</div>
